body {
     margin:0;
}
section{
   margin: 0px auto 0 auto;
}
.rightmenu{
    margin-left:15px;
    outline: 3px solid #333;
    width: 90px;
    height:700px;
    display: block; 
}
#container_body-content {
    margin-top:0;
    padding:0px;   
   margin:0px;   
   display: block; 
}

#contact {
    margin-top: 0px;
    height:40px;
    background-color:aqua;
}
#content {
        width: 790px;
    height: 700PX;
    outline: 3px solid #333;
    margin: 0px auto;
    padding-top: 0px;

}
footer {
  margin-top: 0px;
  text-align: right;
}
footer p{
  padding-right:20px;
}

table{
    margin-top: 30px;
}
