<nav class="rightmenu">

    <h1>Navigation</h1>

    <ul>
        <li><a href="#" title="Lorum ipsum dolor sit amet">Lorem</a></li>
        <li><a href="#" title="Aliquam tincidunt mauris eu risus">Aliquam</a></li>
        <li><a href="#" title="Morbi in sem quis dui placerat ornare">Morbi</a></li>
        <li><a href="#" title="Praesent dapibus, neque id cursus faucibus">Praesent</a></li>
        <li><a href="#" title="Pellentesque fermentum dolor">Pellentesque</a></li>
    </ul>
    <br>
    <h2>Simple Collapsible</h2>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
    <div id="demo" class="collapse checkbox" style="max-width:90px; margin-left:20px; ">
        @using (Html.BeginForm())
        {

            @Html.CheckBox("mycheck", true) //, htmlAttributes: new { name = "mycheck" }  @*"Comput","Home"*@
            @:Флажок2
            <br />
             @*@foreach (var item in Model)
            {

                  @Html.CheckBox(  @Html.DisplayFor(modelItem => item.Firm),false)
            }*@
             @*@Html.CheckBox("myCheckBox", false, new { @id = "checbox11", @class = "checkbox" })*@
            <input type="checkbox"  name="checbox1" />
            @:Флажок43534
            <br />
             @*<input type="checkbox" checked="@ViewBag.ApplyDiscount" name="checbox1" />
            @:Скидка:
            <br />*@
            <input type="submit" value="Submit" />


        }
    </div>
    <br />


</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
