@*@model IEnumerable<Shop.Models.Computers>*@

@{
    ViewBag.Title = "Computers";
    var options = new AjaxOptions()
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("OrdersData"),
        LoadingElementId = "loadingIndicator"
    };
}
@Html.Partial("_NavigatMenu")
<section class="content">
    <h2>Computers</h2>
    @using (Ajax.BeginForm(options))
    {
        <div id="loadingIndicator" style="display:none;">Loading...</div>
        <table cellpadding="4" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Images</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Customer</th>
                </tr>
            </thead>

            <tbody id="tabledata">
                @Html.Action("OrdersData", new { id = Model })
            </tbody>

        </table>
        <p>
            @*При отправке обратного запроса на сервер, в форме будет содержаться поле id которое методом действия будет использоваться для фильтрации данных*@
            @Html.DropDownList("id", new SelectList(new[] { "All", "HP", "Lenovo", "ASUS" }, (Model ?? "All")))
            <input type="submit" value="Submit" />
        </p>

    }

    @*Ненавязивый JavaScript для выполнения запроса на сервер без полного обновления страницы*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</section>
@Html.Partial("_Aside")