@model IEnumerable<Shop.Models.Computers>

@foreach (var item in Model)
{
    <tr>
        <td>
            <img class="product" src="@Html.DisplayFor(modelItem => item.ImagesPath)" />  @*grid.Column(header: "Логотип", format: , canSort:false),*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Firm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Сharacteristics)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
    </tr>
}